# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.sqlite3
*.pyc
db.sqlite3

# Environment
env/
.venv/
venv/

# Uploads or media (optional)
uploads/

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db
